{
  "presets": [
    ["es2015", { "modules": false }],
    "react"
  ],
  "env": {
    "production": {
      "plugins": [
        "transform-remove-console",
        "transform-remove-debugger"
      ]
    }
  },
  "plugins": [
      "syntax-async-functions",
      "transform-regenerator"
    ]
}
